[submodule "glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "FastNoise2"]
	path = lib/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
